body {
	text-align: center;
}

div#settings {
	margin-top: 20px;
	display: inline-block;
	font-family: Futura;
	font-size      : 15px;
	line-height: 25px;
	text-align: left;
	text-decoration: none;
	text