body {
	text-align: center;
}

div#settings {
	margin-top: 20px;
	display: inline-block;
	font-family: Futura;
	font-size      : 15px;
	line-height: 25px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

div#settings button {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	border: 0;
	background-color: #247da2;
	font-family: Futura;
	font-size      : 15px;
	height: 25px;
	line-height: 25px;
	text-align     : center;
	text-decoration: none;
	text-transform: uppercase;
}

div#settings button:hover {
	color: white;
}

/* located in demo.css and creates a little calendar 